{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Django-QA</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">

</head>
<body>

<nav class="container container-top">

	<p class="titulo-sistema">Django-Q&A</p>

	<ul class="menu">
		<li><a href="{% url 'index' %}">Perguntas</a></li>
		<li><a href="">Faça uma pergunta</a></li>
	</ul>

</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-9">
			{% block conteudo %}

			{% endblock %}
		</div>
		<div class="col-lg-3">
				{% block left_tags %}

	  			{% endblock %}

	  			<form action="{% url 'criar_tag' %}" method="post">
	  				{% csrf_token %}
	  				<div class="input-group">
			  			<input type="text" name="tag" class="form-control" placeholder="Python" aria-describedby="basic-addon2">
		  				<span class="input-group-addon" id="basic-addon2">Tag name</span>
						</div>

	  				<button type="submit" class="btn btn-success">Criar</button>
	  			</form>

	  		
		</div>
	</div>
	
  
  	
</div>
  	

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
</body>
</html>