{% extends 'base.html' %}

{% block conteudo %}
	
	{% for pergunta in perguntas %}
		
		<div class="container-pergunta clear-fix">

			<div class="box-estatisticas">
				
				<span class="dado-estatistico quant-votos">
					<p class="dado-valor">{{ pergunta.votos }}</p>
					<p class="dado-descricao">votos</p>
				</span>

				{% if pergunta.has_util %}
				<span class="dado-estatistico quant-respostas respondida">
				{% else %}
				<span class="dado-estatistico quant-respostas">
				{% endif %}

					<p class="dado-valor">{{ pergunta.respostas.count }}</p>
					<p class="dado-descricao">respostas</p>
				</span>

			</div>

			<div class="box-pergunta">

				<h4 class="titulo">
					<a href="perguntas/{{ pergunta.id}}/">{{ pergunta.titulo}}</a>

					<span class="acoes">
						<a href="" data-target="modal-deletar"><span class="glyphicon glyphicon-pencil"></span></a>	
						<a href="/perguntas/{{pergunta.id}}/excluir"><span class="glyphicon glyphicon-remove"></span></a>
					</span>

				</h4>



				<ul class="tags">
					{% for tag in pergunta.all_tags %}
						<li class="tag"><a href="">{{ tag.slugfy }}</a></li>
					{% endfor %}
				</ul>

				<p class="tempo_pergunta">
					Perguntada há {{ pergunta.criado_em|timesince }}
				</p>

			</div>
		</div>

	{% endfor %}
		
{% endblock %}

{% block left_tags %}
	<h3 class="titulo_tags">Tags</h3>
	<ul class="tags tags_block">
		{% for tag in tags %}
			<li class="tag">
				<a href="">{{tag.slugfy}}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
