{% extends 'base.html' %}

{% block conteudo %}
	

	<div class="box-content">
		<div class="row">

			<div class="col-lg-1 container-votos">

				<a href="" class="glyphicon glyphicon-triangle-top icon-up"></a>
				<p class="total_votos">{{ pergunta.votos }}</p>
				<a href="" class="glyphicon glyphicon-triangle-bottom icon-down"></a>
			</div>

			<div class="col-lg-11">

				<h3 class="titulo">{{ pergunta.titulo }}</h3>

				<p class="conteudo-pergunta">{{ pergunta.parsed|safe }}</p>

				<div class="bottom-container">

					<ul class="tags">
						{% for tag in pergunta.all_tags %}
							<li class="tag"><a href="">{{ tag.slugfy }}</a></li>
						{% endfor %}
					</ul>	

				</div>
				
				
				<div class="row">
					
					<ul class="comentarios col-lg-11 col-lg-offset-l1 pull-right">
						{% for comentario in comentarios %}
							<li class="comentario">{{ comentario.conteudo }}</li>
						{% endfor %}
					</ul>

				</div>
				
			</div>

		</div>

	</div>

	{% for resposta in respostas %}
	<div class="box-content">
		<div class="row">

			<div class="col-lg-1 container-votos">
				<a href="" class="glyphicon glyphicon-triangle-top icon-up"></a>
				<p class="total_votos">{{ resposta.votos}}</p>
				<a href="" class="glyphicon glyphicon-triangle-bottom icon-down"></a>

				{% if resposta.is_util %}
					<a href=""><span class="glyphicon glyphicon-ok icon-util checked"></span></a>
				{% else %}
					<a href="/respostas/{{resposta.id}}/mais_util"><span class="glyphicon glyphicon-ok icon-util"></span></a>
				{% endif%}

			</div>

			<div class="col-lg-11">

				<h4 class="titulo">{{ resposta.titulo}}</h4>

				<p class="conteudo-pergunta">{{ resposta.parsed|safe }} </p>

			</div>

		</div>

	</div>
	
	{% endfor %}

	<form class="form-resposta row" action="/perguntas/{{ pergunta.id }}/responder/" method="POST">
		{% csrf_token %}

		<textarea class="form-control" rows="4" name="resposta"></textarea>
		
		<div class="botao-submit">
      		<button type="submit" class="btn btn-success">Responder</button>
    	</div>

	</form>

{% endblock %}

{% block left_tags %}
	<h3 class="titulo_tags">Tags</h3>
	<ul class="tags tags_block">
		{% for tag in tags %}
			<li class="tag">
				<a href="">{{tag.slugfy}}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
